@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
*{
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.resizer{
  position: absolute;
  opacity: 0;
  top: 0;
  right: 0;
  height: 100%;
  width:5px;
  background-color: #27bbff;
  cursor: col-resize;
  user-select: none;
  touch-action: none;
  border-radius: 6px;
}
.resizer.isResizing{
  background-color:"#2eff31";
  opacity: 1;
}
*:hover >.resizer{
  opacity: 1;
}